@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

.container {
  max-width: 1100px;
  height: 100%;
  margin: auto;
  margin-bottom: 10px;
  padding: 0 20px;
}

/* form {
  width: 90%;
} */
.form-group {
  height: 65px;
  /* margin: 10px 0; */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Adjust the gap as needed */
}

label {
  position: relative;
  bottom: 3px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  text-transform: uppercase;
}

input:valid {
  border: 1px solid green;
}
input:invalid {
  border: 1px solid red;
}

button {
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  /* border-radius: 5px; */
  height: 50px;
  padding: 13px 20px;
  font-family: "Sen", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover {
  filter: brightness(200%);
  background: rgb(29, 29, 29);
}

button:focus {
  outline: none;
}

#page-title {
  margin: 20px;
}
#page-title h1 {
  text-align: center;
}
#main-content {
  flex: 3;
}

.enrollment-form-heading {
  background: #444;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.enrollment-form-subheading {
  width: 7em;
  background: #444;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.course-information {
  display: flex;
  justify-content: space-between;
}

.course-information .form-group {
  width: 33%;
}

.enrollment-type-form {
  display: flex;
  justify-content: space-between;
}

.enrollment-type-form .form-group {
  text-align: center;
}

/* modal */

.modal-btn {
  margin-top: 2rem;
  background: #49a6e9;
  border-color: #49a6e9;
  color: var(--clr-white);
}
.modal-btn:hover {
  background: transparent;
  color: #49a6e9;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -10;
}
/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: #fff;
  border-radius: 0.5rem;
  width: 50%;
  height: 50vh;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  cursor: pointer;
  transition: all 0.3s linear;
}

.close-btn:hover {
  color: hsl(360, 71%, 66%);
  transform: scale(1.3);
}

/*transaction menu */
.home-page {
  height: 100vh;
  background-image: url(../img/cm-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-title {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 255, 171);
  margin-bottom: 35px;
}
.logo-title h1 {
  margin-top: 28px;
  color: #fff;
  font-size: xx-large;
  font-weight: 300;
}
.cm-logo {
  width: 90px;
  height: auto;
  margin: 5px;
}

.home-container {
  margin-top: 11px;
}
.home-header {
  justify-content: center;
  color: rgb(0, 0, 0);
  text-align: center;
}
.home-header h1 {
  text-shadow: 2px 2px white;
  font-size: xx-large;
}

.transaction {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.transaction button {
  margin-left: 30px;
  width: 300px;
  height: 150px;
  background-color: rgb(184, 241, 176);
  text-align: center;
  color: black;
  font-weight: bolder;
  /* text-decoration: underline; */
  border-radius: 25px;
}
.transaction button:hover {
  background: #01924f;
}

/* enroll modal */
.eStatModal a {
  margin-top: 2rem;
  background: #008ff5;
  border-color: #49a6e9;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  /* color: var(--clr-white); */
}

.eStatModal button {
  margin-top: 2rem;
  background: #008ff5;
  border-color: #49a6e9;
  border-radius: 10px;
  /* color: var(--clr-white); */
}
.eStatModal button:hover,
.eStatModal a:hover {
  background: transparent;
  color: #000508;
  text-decoration: underline;
}
.eStatModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 149, 255, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -10;
}
/* .eStatModal .open-modal{
  visibility: visible;
  z-index: 10;
} */

/* OPEN/CLOSE MODAL */
.openStatModal {
  visibility: visible;
  z-index: 10;
}

.enrollmentStat-modal {
  background: #05db5e;
  border-radius: 0.5rem;
  width: 40%;
  height: 45vh;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 10px;
}

#closeModal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 0;
}

#closeModal-btn:hover {
  color: hsl(0, 100%, 46%);
  transform: scale(1.3);
}

/* style for address */

.about {
  position: absolute;
  /* left: 0; */
  z-index: 99; /* Adjust as needed */
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;

  background: #fff;

  display: grid;
  grid-template-rows: auto 1fr;
}
.btn-container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: #444;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.25rem;
}
.tab-btn:hover:not(.active) {
  background: hsl(205, 100%, 96%);
  color: #000;
}
.about-content {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem 1.5rem;
}
/* hide content */
.content {
  display: none;
  overflow: auto;
  height: 300px;
}
.tab-btn.active {
  background: #fff;
  color: #000;
}
.content.active {
  display: block;
}
#region .regionList li,
#province .provinceList li,
#city .cityList li,
#barangay .barangayList li {
  padding: 10px;
}

#region .regionList li:hover,
#province .provinceList li:hover,
#city .cityList li:hover,
#barangay .barangayList li:hover {
  background: skyblue;
  color: #ffffff;
  cursor: pointer;
}

/* for main.html */
.popup {
  background: hsla(0, 0%, 30%, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: all 0.25s;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  --opacity: 0;
  opacity: var(--opacity);
}

.popup fieldset {
  background: #e7e7e7;
  padding: 2rem;
  border: 3px solid var(--pink);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: all 0.2s;
  --scale: 0.3;
  transform: scale(var(--scale));
}

.popup.open {
  --opacity: 1;
  pointer-events: all;
}

.popup.open fieldset {
  --scale: 1;
}

/* kiosk */
#showcase {
  background: url(../img/cm-bg.jpg) no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 50px;
}

.kioskbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 240px;
  background-color: #3498db; /* Default color */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

.kioskbutton:hover {
  filter: brightness(1.2);
}

/* Different colors for each button */
.kioskbutton:nth-child(2) {
  background-color: #bf40bf;
}

.kioskbutton:nth-child(3) {
  background-color: #bdb5d5;
}

.kioskbutton i {
  margin-bottom: 2rem;
  font-size: 64px; /* Adjust the icon size */
}
.lead {
  font-size: 2.1rem;
}

/* .about */
.enrollpagecontent {
  background: #13232fe6;
  /* border-radius: var(--radius); */
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2.2rem;
}
/* .btn-container */
.enrollbtn-container {
  /* border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius); */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* .tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}
.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
} */

/* .tab-btn */
.enrolltab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: #a0b3b040;
  cursor: pointer;
  color: #a0b3b0;
  transition: 0.5s ease;
}
/* .tab-btn:hover:not(.active) */
.enrolltab-btn:hover:not(.active) {
  background: #1ab188;
  color: #fff;
}
/* .about-content */
.enrollform-content {
  /* border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius); */
  /* padding: 2rem 1.5rem; */
}
/* hide content */
/* .content */
.enrollcontentshowhide {
  display: none;
}
/* .tab-btn.active */
.enrolltab-btn.active {
  background: #1ab188;
  color: #fff;
}
/* .content.active */
.enrollcontentshowhide.active {
  display: block;
}

/* .grid-container */
.enrollgrid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Adjust the gap as needed */
}
/* .form-group */
.enrollform-group {
  margin-bottom: 20px;
}

/* input,select */
.enrollinput,
.enrollselect {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
#enrollnow {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 40px 0px;
  font-size: 2em;
}
/* .button */
.enrollbutton {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  isplay: block;
  width: 100%;
  margin-top: 40px;
}

/* goback button in registerform */
#goback {
  background: #444;
  color: #fff;
  z-index: 100;
  position: fixed;
  width: 64px;
  height: 64px;
  left: 25px;
  top: 30px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* Switch Toggle */
.switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.switch-wrapper span {
  margin-left: 10px;
  font-size: 1rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: rgb(66, 66, 66);
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  /* background: var(--primary-color); */
  background: #444;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
